<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form class="example-form">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipVegeta aria-label="Simbolos de entrada">
                            <mat-chip *ngFor="let simbolo of simbolos" [selectable]="selectable" [removable]="removable" (removed)="removeSimb(simbolo)">
                                {{simbolo.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Agregar símbolo de entrada..." maxlength="1" [matChipInputFor]="chipVegeta" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addSimb($event)">
                        </mat-chip-list>
                    </mat-form-field>

                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Conjunto de estados">
                            <mat-chip *ngFor="let estado of estados" [selectable]="selectable" [removable]="removable" (removed)="remove(estado)">
                                {{estado.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Agregar estado..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Estado inicial</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let estado of estados" [value]="estado">
                                {{estado.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Estados de aceptación</mat-label>
                        <mat-select multiple>
                            <mat-option *ngFor="let estado of estados" [value]="estado">{{estado.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="btn btn-primary">Añadir las transiciones</button>

                    <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Estados de aceptación:" [formControl]="estadosAceptacion">
                        <mat-error *ngIf="estadosAceptacion.hasError('required')">
                            El autómata necesita al menos un estado de aceptación
                        </mat-error>
                    </mat-form-field> -->
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Estado</th>
                            <th scope="col" *ngFor="let simbolo of simbolos">{{simbolo.name}}</th>
                            <th scope="col">Aceptacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estado of estados">
                            <th scope="row">{{estado.name}}
                            </th>
                            <th scope="row" *ngFor="let simbolo of simbolos">
                                <mat-form-field class="example-symbol-transition">
                                    <mat-select multiple>
                                        <mat-option *ngFor="let simbolo of simbolos" [value]="transicion">{{simbolo.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </th>
                            <th scope="row">{{estado.aceptacion}}</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>