<br>
<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Autómatas</h1>
    <p class="lead">Aquí podrás construir tu autómata finito y la aplicación te mostrará si es determinístico o no determinístico, entregará su versión simplificada y podrás hacer pruebas con él</p>
    <button class="btn btn-primary" [routerLink]="['/construir']">Comenzar</button>
    <hr class="my-4">
    <p>Aquí puedes ingresar a la documentación de la aplicación</p>
    <button class="btn btn-outline-info btn-lg btn-sm" [routerLink]="['/documentacion']" role="button">Click aquí para mas información</button>
</div>